<div class="row justify-content-md-center">
  <div class="col-12">
    <h1 class="display-1">DDaT Assessment - <mark><strong><%= current_season.name %></strong></mark></h1>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-12">
    <%= render @assessment %>
  </div>
</div>
