<div class="container shadow p-4 mb-5 bg-body rounded">
  <div class="row justify-content-md-center">
    <div class="col-12">
      <h1 class="display-1">DDaT Assessment</h1>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
